#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/Criptography/nbproject/private/
/Criptography/build/
/SocketsFlujo/nbproject/private/
/SocketsFlujo/build/